.bio-page {
  min-height: 90vh;
  //   height: auto;
  display: grid;
  grid-template-columns: 5% repeat(3, 1fr) 5%;
  grid-template-rows: 32vh auto auto;
  grid-column-gap: 0.2rem;
  grid-row-gap: 1rem;
  .margin-left {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    background: var(--blue);
  }
  .margin-right {
    width: 100%;
    height: 100%;
    grid-column: 5/6;
    grid-row: 1/4;
    background: var(--blue);
  }
  .bloc-image-reference {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .bloc-bio {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    background: white;
  }
  .bloc-biblio {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: "Roboto", sans-serif;
    .biblio {
      .delete-cross {
        cursor: pointer;
      }
    }
  }
  .bloc-image-portrait {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .bloc-image-famille {
    grid-column: 4/5;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

// ========================== Media queries ========================= //

@media (max-width: 1200px /* */) {
  .bio-page {
    display: grid;
    grid-template-columns: 5% repeat(3, 1fr) 5%;
    grid-template-rows: 32vh auto auto;
  }
}

// ========================== Media queries ========================= //
@media (max-width: 600px /* */) {
  .bio-page {
    .remove600 {
      display: none;
    }
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh auto auto;
    .bloc-image-reference {
      grid-column: 1/2;
      grid-row: 1/4;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .bloc-bio {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem 1rem 1rem;
      font-family: "Roboto", sans-serif;
      position: sticky;
      top: 0;
      background: white;
    }
    .bloc-biblio {
      grid-column: 2/3;
      grid-row: 2/4;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem 1rem 1rem;
      font-family: "Roboto", sans-serif;
    }
    .bloc-image-portrait {
      grid-column: 3/4;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      position: sticky;
      top: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .bloc-image-famille {
      grid-column: 3/4;
      grid-row: 2/4;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
