.footer {
  min-height: 10vh;

  //   height: 10vh;
}

.footer-container {
  //   background: var(--blue);
  min-height: 10vh;
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  //   width: 90%;
  margin: 0 auto;
  padding: 1rem 0rem 1.5rem 0rem;
  h4 {
    font-size: 3rem;
    font-family: "Noto Sans", sans-serif;
    color: var(--blue);
    grid-column: 5/7;
    //     grid-column-start: 5;
  }
}
