.footer {
  min-height: 10vh;
  //   height: 10vh;
}

.footer-container {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  //   width: 90%;
  margin: 0 auto;
  padding: 2rem 0rem 3rem 0rem;
  h4 {
    font-size: 3rem;
    font-family: "Noto Sans", sans-serif;
    color: var(--blue);
    grid-column: 2/4;
  }
}
