.nav {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  min-height: 10vh;
  //   margin: auto;
  padding: 2rem 0rem 3rem 0rem;

  align-items: baseline;

  .logo-nav {
    grid-column: 2/9;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 10rem;
  }
  .mini-nav {
    grid-column: 10/14;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .hover-h1:hover {
    border-bottom: 0.3rem solid var(--blue);
    transition: width 0.7s ease;
  }

  .hover:hover {
    border-bottom: 0.3rem solid var(--blue);
    transition: width 0.7s ease;
  }
  .hover2:hover {
    border-bottom: 0.3rem solid white;
    transition: width 0.7s ease;
  }
  span {
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
  }
}

// ========================== Media queries ========================= //

@media (max-width: 1200px /*  */) {
  .nav {
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: auto auto;
    min-height: 5vh;
    .logo-nav {
      grid-column: 2/6;
      grid-row: 1/2;
      .hover-h1:hover {
        border-bottom: 0rem solid var(--blue);
      }
    }
    .mini-nav {
      grid-column: 3/5;
      grid-row: 2/3;
    }
  }
}

@media (max-width: 600px /*  */) {
  .nav {
    .logo-nav {
      grid-column: 1/8;
      grid-row: 1/2;
      flex-direction: column;
      align-items: center;
      li {
        width: 100vw;
        border-bottom: 1px solid var(--blue);
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        h1,
        span,
        select {
          margin-left: 1rem;
        }
      }
      .second-li {
        height: 5rem;
        background: var(--blue);
        span {
          color: white;
        }
      }
      .third-li {
        height: 5rem;
      }
    }
    .mini-nav {
      grid-column: 1/8;
      grid-row: 2/3;
      background: var(--blue);
      height: 5rem;
      align-items: center;
      span {
        color: white;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
