.images-page {
  min-height: 90vh;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-columns: 5% repeat(12, 1fr) 5%;
  grid-template-rows: 15vh 60vh 15vh; // ???
  -ms-grid-rows: 15vh 60vh 15vh;
  .menu-image {
    grid-column: 2/3;
    grid-row: 2/4;
    background: var(--blue);
    border-radius: 0 4rem 4rem 0;
    height: 15rem; //????
    width: 10rem;
    //     justify-self: end;
  }
  .images-page-landing-image-container {
    grid-column: 3/9;
    grid-row: 2/4;
    width: 100%;
    overflow: hidden; // ?????
    position: relative;

    img {
      width: 100%;
      transition: transform 0.6s ease-in-out;
    }
    img:hover {
      transform: scale(1.05);
    }
  }

  .bloc-other-image {
    grid-column: 10/14;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    //     justify-content: space-around;
    flex-wrap: wrap;
    //     overflow: scroll;
    overflow: scroll;
    .other-image-container {
      flex: 0 0 19rem;
      height: 19rem;
      margin: 1rem;
      margin-right: 0;
      margin-top: 0;

      overflow: hidden;
      .other-image {
        width: 120%; // ?????
        height: 120%; // ?????
        object-fit: cover;
        transition: transform 0.6s ease-in-out;
      }
      .other-image:hover {
        width: 100%;
        transform: scale(1.05);
      }
    }
  }
}

// ========================== Media queries ========================= //

@media (max-width: 1200px /*  */) {
  .images-page {
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: repeat(7, 1fr);
    grid-template-rows: auto auto;
    -ms-grid-rows: auto auto;
    .menu-image {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .images-page-landing-image-container {
      grid-column: 2/7;
      grid-row: 1/2;
    }
    .bloc-other-image {
      grid-column: 2/7;
      grid-row: 2/3;
      //       align-items: center;
      justify-content: center;
      .other-image-container {
        margin-top: 1rem;
        margin-left: auto;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 600px /*  */) {
  .images-page {
    .bloc-other-image {
      .other-image-container {
        margin-top: 1rem;
        margin-left: 0;
        margin-left: 0;
      }
    }
  }
}
