.landing-page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  //   grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: repeat (4, 1fr);
  //   grid-template-rows: 15vh 60vh 15vh;
  //   z-index: -1;
  .image-container {
    //     background: yellow;

    grid-column: 1/10;
    grid-row: 1/5;
  }

  .landing-image {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    height: 100%;
    width: 100%;
    //     object-fit: contain;
    object-fit: cover;
    z-index: -1;
    grid-column-start: 1/6;
    grid-row-start: 3/4;
  }
  .logo-container {
    //     background: red;
    height: 50%;
    width: 100%;
    grid-column: 2/8;
    grid-row: 3/4;
    align-self: end;

    h1 {
      margin-top: 5rem;
      color: white;
      font-size: 8rem;
    }

    z-index: 4;
  }
}

// ========================== Media queries ========================= //

@media (max-width: 1024px /*  */) {
  .landing-page {
    .landing-logo {
      position: absolute;
      //     left: 8rem;
      left: 5.5vw;
      //     top: 50rem;
      top: 68vh;
    }
  }
}
