.carouselX {
  .carousel-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    font-family: "Roboto", sans-serif;
    color: var(--blue);
    padding-right: 1rem;
    .title {
      text-align: left;
      background: white;
      padding-bottom: 1rem;
      font-weight: 500;
    }
    .middle {
      //   height: 100%;
      text-align: left;
      background: white;
      padding-bottom: 1rem;
      font-weight: 300;
    }
    .bottom {
      font-style: italic;
      font-weight: 200;
      color: var(--blue);
      text-align: left;
      background: white;
    }
  }
  .carousel-image {
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    .carousel-image-container {
      height: 70%;
      width: 100%;
      img {
        height: 100%;
      }
    }
    .legend-carousel-image {
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;

      span {
        font-size: 1.6rem;
        //       font-family: "Noto Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        color: var(--blue);
      }
    }
  }
}
