.carouselX {
  height: stretch;
  width: 102%;
  background: white;
  .carousel-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    font-family: "Roboto", sans-serif;
    color: var(--blue);
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    .title {
      text-align: left;
      line-height: 98%;
      background: white;
      padding-bottom: 1rem;
      font-weight: 500;
      margin-left: 2rem;
      position: relative;
      .quotes {
        position: absolute;
        top: 1rem;
        left: -2rem;
      }
    }
    .middle {
      height: fit-content;
      //       text-align: left;
      text-align: justify;
      //       text-indent: 5rem;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      font-weight: 200;
      background: white;
    }
    .bottom {
      font-style: italic;
      font-weight: 200;
      color: var(--blue);
      text-align: left;
      background: white;
    }
  }
  .carousel-image {
    height: stretch;
    display: flex;
    background: white;
  }
}
