.post-modal-text {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loader-container {
    height: 5rem;
    margin-bottom: 1rem;
    h6 {
      color: var(--blue);
      font-family: "Noto Sans", sans-serif;
      font-weight: medium;
    }
  }
  .post-modal-content {
    width: 50rem;
    //     width: auto;
    height: 60rem;
    //     height: auto;
    background: var(--blue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .post-cross {
      position: absolute;
      left: 70rem;
      top: -3rem;
      color: var(--blue);
      font-family: "Noto Sans", sans-serif;
      font-weight: medium;
      font-size: 3rem;
      padding: 0.5rem;
      cursor: pointer;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      padding-bottom: 2rem;
      h6 {
        font-family: "Noto Sans", sans-serif;
        color: white;
        font-size: 1.8rem;
        font-weight: lighter;
      }
      //       .postText-form-up {

      //       }
      .postText-form-down {
        width: 60%;
        .submit {
          width: 100%;
        }
      }
    }
  }
}

// ========================== Media queries ========================= //

@media (max-width: 1200px /*  */) {
  .post-modal-text {
    width: 100%;
    height: 100%;
    .post-modal-content {
      width: 50rem;
      height: 60rem;
    }
  }
}
