.texts-page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  grid-template-rows: 15vh 60vh 15vh;
  .menu-text {
    grid-column: 2/3;
    grid-row: 2/3;
    background: var(--blue);
    border-radius: 0 4rem 4rem 0;
    height: 50%; //????
  }
  .bloc-text {
    grid-column: 3/9;
    grid-row: 2/4;
  }
  .bloc-other-text {
    grid-column: 10/14;
    grid-row: 2/3;
  }
}

// ========================== Media queries ========================= //
@media (max-width: 1200px /* */) {
  .texts-page {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    .menu-text {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 50%; //??????
      width: 60%; //??????
    }
    .bloc-text {
      grid-column: 3/6;
      grid-row: 1/2;
    }
    .bloc-other-text {
      grid-column: 2/7;
      grid-row: 2/3;
    }
  }
}
