@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
.landing-page {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: repeat 5, 1fr;
      grid-template-rows: repeat 5, 1fr;
}

.landing-page .landing-image-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.landing-page .landing-image {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.landing-page .logo-container {
  height: 50%;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 4;
}

.landing-page .logo-container h1 {
  margin-top: 5rem;
  color: white;
  font-weight: lighter;
}

.landing-page .legend-container {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11/14;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 4;
}

.landing-page .legend-container p {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .landing-page {
    height: 100vh;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .landing-page .landing-image-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .landing-page .logo-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.home-page {
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: 1fr 60vh 1fr;
      grid-template-rows: 1fr 60vh 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.home-page .home-image-container {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  overflow: hidden;
}

.home-page .home-image-container .home-image {
  width: 100%;
  height: 110%;
}

.home-page .current {
  -ms-grid-column: 10;
      grid-column-start: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--blue);
}

.home-page .bloc-carousel {
  width: 100%;
  height: 100%;
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10/14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.home-page .bloc-carousel .carousel {
  height: 100%;
}

@media (max-width: 1200px) {
  .home-page {
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: 5vh auto auto;
        grid-template-rows: 5vh auto auto;
  }
  .home-page .home-image-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .home-page .bloc-carousel {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: auto;
    width: 100%;
  }
  .home-page .current {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (max-width: 600px) {
  .home-page .bloc-carousel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: auto;
    width: 100%;
  }
  .home-page .current {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.images-page {
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: 1fr 60vh 1fr;
      grid-template-rows: 1fr 60vh 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.images-page .menu-custom {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
  border-radius: 0 4rem 4rem 0;
  height: 14rem;
  cursor: default;
}

.images-page .menu-custom:hover .label {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.125s ease-out;
  transition: opacity 0.5s 0.125s ease-out;
}

.images-page .menu-custom:hover .icon {
  margin: 1rem auto;
}

.images-page .menu-custom .label {
  background-color: var(--blue);
  border-radius: 0 4rem 4rem 0;
  color: white;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: medium;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity 0.5s 0.75s ease-out;
  transition: opacity 0.5s 0.75s ease-out;
}

.images-page .menu-custom .icon {
  border-radius: 0;
  cursor: pointer;
  background-color: white;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 2rem;
  width: 100%;
  border-radius: 0 4rem 4rem 0;
  -webkit-transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;
  transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;
}

.images-page .menu-custom .icon:hover {
  background-color: var(--blue);
  color: white;
}

.images-page .menu-custom .last {
  height: 4rem;
}

.images-page .images-page-main-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  overflow: hidden;
  position: relative;
}

.images-page .images-page-main-container .main-image-container {
  width: 100%;
  height: 100%;
}

.images-page .images-page-main-container .main-image-container img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.images-page .images-page-main-container .main-image-container img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.images-page .images-page-main-container .legend-main {
  width: 100%;
  height: 2.2rem;
  position: absolute;
  bottom: 0rem;
  background: white;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.images-page .bloc-other-image {
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-column: 8/14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

.images-page .bloc-other-image .other-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19rem;
          flex: 0 0 19rem;
  height: 21rem;
  margin: 1rem;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.images-page .bloc-other-image .other-container .other-image-container {
  width: 100%;
  height: 100%;
}

.images-page .bloc-other-image .other-container .other-image-container .other-image {
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.images-page .bloc-other-image .other-container .other-image-container .other-image:hover {
  width: 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.images-page .bloc-other-image .other-container .legend-other {
  width: 19rem;
  height: 2rem;
  background: white;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

@media (max-width: 1200px) {
  .images-page {
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .images-page .menu-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .images-page .images-page-main-container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .images-page .bloc-other-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .images-page .bloc-other-image .other-container {
    margin-top: 1rem;
    margin-left: auto;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .images-page .bloc-other-image .other-container {
    margin-top: 1rem;
    margin-left: 0;
    margin-left: 0;
  }
}

.texts-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: 10vh 60vh 10vh;
      grid-template-rows: 10vh 60vh 10vh;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.texts-page .menu-custom-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
  border-radius: 0 4rem 4rem 0;
  height: 14rem;
  cursor: default;
}

.texts-page .menu-custom-text:hover .label {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.125s ease-out;
  transition: opacity 0.5s 0.125s ease-out;
}

.texts-page .menu-custom-text:hover .icon {
  margin: 1rem auto;
}

.texts-page .menu-custom-text .label {
  background-color: var(--blue);
  border-radius: 0 4rem 4rem 0;
  color: white;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: medium;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity 0.5s 0.75s ease-out;
  transition: opacity 0.5s 0.75s ease-out;
}

.texts-page .menu-custom-text .icon {
  border-radius: 0;
  cursor: pointer;
  background-color: white;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 2rem;
  width: 100%;
  border-radius: 0 4rem 4rem 0;
  -webkit-transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;
  transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;
}

.texts-page .menu-custom-text .icon:hover {
  background-color: var(--blue);
  color: white;
}

.texts-page .menu-custom-text .last {
  height: 4rem;
}

.texts-page .menu-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: var(--blue);
  border-radius: 0 4rem 4rem 0;
  height: 7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texts-page .menu-text .sort-button {
  width: 80%;
  border-radius: 4rem;
  color: var(--blue);
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
}

.texts-page .menu-text .menu-selecter {
  width: 80%;
  border-radius: 4rem;
  color: var(--blue);
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
}

.texts-page .bloc-text-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.texts-page .bloc-text {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-family: "Roboto", serif;
  position: relative;
}

.texts-page .bloc-text .guill {
  position: absolute;
  top: -2rem;
  left: -1rem;
  font-weight: bold;
  font-size: 7rem;
}

.texts-page .bloc-text h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.texts-page .bloc-text .text-container {
  height: 60%;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.texts-page .bloc-text .text-container p {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 15rem;
  column-width: 15rem;
}

.texts-page .bloc-text .texts-page-legend {
  font-style: italic;
  font-weight: 200;
}

.texts-page .bloc-other-text {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10/14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  font-family: "Roboto", serif;
  color: var(--blue);
}

.texts-page .bloc-other-text .other-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 14rem;
  margin: 1rem;
  margin-right: 0;
  margin-top: 0;
  padding: 1rem;
  overflow: hidden;
}

.texts-page .bloc-other-text .other-text h5 {
  margin-bottom: 1rem;
}

.texts-page .bloc-other-text .other-text p {
  font-style: italic;
  font-weight: 200;
}

@media (max-width: 1200px) {
  .texts-page {
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .texts-page .menu-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .texts-page .bloc-text-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .texts-page .bloc-text-container .bloc-text .text-container {
    height: auto;
  }
  .texts-page .bloc-text-container .bloc-text .text-container p {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-width: 20rem;
    column-width: 20rem;
  }
  .texts-page .bloc-other-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .texts-page .bloc-other-text .other-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14rem;
            flex: 0 0 14rem;
  }
}

.bio-page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[3] 5%;
      grid-template-columns: 5% repeat(3, 1fr) 5%;
  -ms-grid-rows: 32vh auto auto;
      grid-template-rows: 32vh auto auto;
  grid-column-gap: 0.2rem;
  grid-row-gap: 1rem;
}

.bio-page .margin-left {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: var(--blue);
}

.bio-page .margin-right {
  width: 100%;
  height: 100%;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: var(--blue);
}

.bio-page .bloc-image-reference {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
}

.bio-page .bloc-image-reference img {
  width: 100%;
  height: auto;
}

.bio-page .bloc-bio {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  font-family: "Roboto", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

.bio-page .bloc-biblio {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  font-family: "Roboto", sans-serif;
}

.bio-page .bloc-biblio .biblio .delete-cross {
  cursor: pointer;
}

.bio-page .bloc-image-portrait {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bio-page .bloc-image-portrait img {
  width: 100%;
  height: auto;
}

.bio-page .bloc-image-famille {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
}

.bio-page .bloc-image-famille img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .bio-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% (1fr)[3] 5%;
        grid-template-columns: 5% repeat(3, 1fr) 5%;
    -ms-grid-rows: 32vh auto auto;
        grid-template-rows: 32vh auto auto;
  }
}

@media (max-width: 600px) {
  .bio-page {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 40vh auto auto;
        grid-template-rows: 40vh auto auto;
  }
  .bio-page .remove600 {
    display: none;
  }
  .bio-page .bloc-image-reference {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
  }
  .bio-page .bloc-image-reference img {
    width: 100%;
    height: auto;
  }
  .bio-page .bloc-bio {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: "Roboto", sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
  }
  .bio-page .bloc-biblio {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    font-family: "Roboto", sans-serif;
  }
  .bio-page .bloc-image-portrait {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .bio-page .bloc-image-portrait img {
    width: 100%;
    height: auto;
  }
  .bio-page .bloc-image-famille {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
  }
  .bio-page .bloc-image-famille img {
    width: 100%;
    height: auto;
  }
}

.selected-image-page {
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: 10vh 60vh 10vh;
      grid-template-rows: 10vh 60vh 10vh;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.selected-image-page .menu-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: var(--blue);
  border-radius: 0 4rem 4rem 0;
  height: 7rem;
  width: 100%;
}

.selected-image-page .selected-image-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.selected-image-page .selected-image-container .sub-container {
  width: 100%;
  height: 100%;
}

.selected-image-page .selected-image-container .sub-container img {
  height: 100%;
}

.selected-image-page .bloc-legend {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: scroll;
}

.selected-image-page .bloc-legend .other-context {
  font-style: italic;
  font-weight: 200;
}

.selected-image-page .button-container {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
}

.selected-image-page .button {
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  background: var(--blue);
  color: white;
}

.selected-image-page .delete-button {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  background: var(--blue);
  color: white;
}

@media (max-width: 1200px) {
  .selected-image-page {
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .selected-image-page .menu-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selected-image-page .selected-image-container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selected-image-page .selected-image-container .sub-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selected-image-page .selected-image-container .sub-container img {
    width: 100%;
    height: auto;
  }
  .selected-image-page .bloc-legend {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .selected-image-page .button-container {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 2;
    grid-row: 2/2;
    width: 80%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.selected-text-page {
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  -ms-grid-rows: 1fr 60vh 1fr;
      grid-template-rows: 1fr 60vh 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.selected-text-page .menu-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: var(--blue);
  border-radius: 0 4rem 4rem 0;
  height: 7rem;
  width: 100%;
}

.selected-text-page .selected-text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  font-family: "Roboto", serif;
  position: relative;
}

.selected-text-page .selected-text .guill {
  position: absolute;
  top: -3rem;
  left: -2rem;
  font-weight: bold;
  font-size: 7rem;
}

.selected-text-page .selected-text h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.selected-text-page .selected-text .text-container {
  height: 85%;
  overflow: scroll;
  margin-bottom: 1.5rem;
}

.selected-text-page .selected-text .text-container p {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-width: 15rem;
  column-width: 15rem;
}

.selected-text-page .selected-text .texts-page-legend {
  height: 15%;
  font-style: italic;
  font-weight: 200;
}

.selected-text-page .button-container {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
}

.selected-text-page .button {
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  background: var(--blue);
  color: white;
}

.selected-text-page .delete-button {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  background: var(--blue);
  color: white;
}

@media (max-width: 1200px) {
  .selected-text-page {
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .selected-text-page .menu-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selected-text-page .selected-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selected-text-page .button-container {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 60%;
    justify-self: flex-end;
  }
}

.login-modal {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .loader-container {
  height: 10rem;
}

.login-modal .login-modal-content {
  width: 50rem;
  height: 40rem;
  background: var(--blue);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .login-modal-content .login-cross {
  position: absolute;
  left: 70rem;
  top: -3rem;
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.login-modal .login-modal-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  padding-bottom: 2rem;
}

.login-modal .login-modal-content .form h6 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: lighter;
}

.login-modal .login-modal-content .form .form-up {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login-modal .login-modal-content .form .form-down {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-modal .login-modal-content .form .form-down .submit {
  width: 100%;
}

.post-modal {
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-modal .loader-container {
  height: 5rem;
  margin-bottom: 1rem;
}

.post-modal .loader-container h6 {
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
}

.post-modal .post-modal-content {
  width: 50rem;
  height: 50rem;
  background: var(--blue);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-modal .post-modal-content .post-cross {
  position: absolute;
  left: 70rem;
  top: -3rem;
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.post-modal .post-modal-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
  padding-bottom: 2rem;
}

.post-modal .post-modal-content .form h6 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: lighter;
}

.post-modal .post-modal-content .form .postText-form-down {
  width: 60%;
}

.post-modal .post-modal-content .form .postText-form-down .submit {
  width: 100%;
}

.post-modal {
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-modal .loader-container {
  height: 5rem;
  margin-bottom: 1rem;
}

.post-modal .loader-container h6 {
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
}

.post-modal .post-image-modal-content {
  width: 50rem;
  height: 60rem;
  background: var(--blue);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-modal .post-image-modal-content .post-cross {
  position: absolute;
  left: 70rem;
  top: -3rem;
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.post-modal .post-image-modal-content .form {
  height: 90%;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-modal .post-image-modal-content .form h6 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: lighter;
}

.post-modal .post-image-modal-content .form .postImage-form-down {
  width: 60%;
}

.post-modal .post-image-modal-content .form .postImage-form-down .submit {
  width: 100%;
}

.post-modal {
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.post-modal .loader-container {
  height: 5rem;
  margin-bottom: 1rem;
}

.post-modal .loader-container h6 {
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
}

.post-modal .post-modal-content {
  width: 50rem;
  height: 40rem;
  background: var(--blue);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-modal .post-modal-content .post-cross {
  position: absolute;
  left: 70rem;
  top: -3rem;
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-weight: medium;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.post-modal .post-modal-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.post-modal .post-modal-content .form h6 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: lighter;
}

.post-modal .post-modal-content .form .postBiblio-form-down {
  width: 60%;
}

.post-modal .post-modal-content .form .postBiblio-form-down .submit {
  width: 100%;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  grid-column-gap: 1rem;
  min-height: 10vh;
  padding: 1rem 0rem 1.5rem 0rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav .logo-nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 10rem;
}

.nav .logo-nav .post-selecter {
  outline: none;
  color: var(--blue);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  border: 1px solid var(--blue);
}

.nav .mini-nav {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav .hover-h2:hover {
  border-bottom: 0.3rem solid var(--blue);
  -webkit-transition: width 0.7s ease;
  transition: width 0.7s ease;
}

.nav .hover:hover {
  border-bottom: 0.3rem solid var(--blue);
  -webkit-transition: width 0.7s ease;
  transition: width 0.7s ease;
}

.nav .hover2:hover {
  border-bottom: 0.3rem solid white;
  -webkit-transition: width 0.7s ease;
  transition: width 0.7s ease;
}

.nav span {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
}

@media (max-width: 1200px) {
  .nav {
    -ms-grid-columns: 5% (1fr)[4] 5%;
        grid-template-columns: 5% repeat(4, 1fr) 5%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    min-height: 5vh;
  }
  .nav .logo-nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .nav .logo-nav .hover-h2:hover {
    border-bottom: 0rem solid var(--blue);
  }
  .nav .mini-nav {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .nav .logo-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .logo-nav li {
    width: 100vw;
    border-bottom: 1px solid var(--blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav .logo-nav li h2,
  .nav .logo-nav li span,
  .nav .logo-nav li select {
    margin-left: 1rem;
  }
  .nav .logo-nav .second-li {
    height: 5rem;
    background: var(--blue);
  }
  .nav .logo-nav .second-li span {
    color: white;
  }
  .nav .logo-nav .third-li {
    height: 5rem;
  }
  .nav .mini-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background: var(--blue);
    height: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .mini-nav span {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.footer {
  min-height: 10vh;
  background: var(--blue);
}

.footer-container {
  min-height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
  margin: 0 auto;
  padding: 1rem 0rem 1.5rem 0rem;
}

.footer-container h4 {
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: var(--blue);
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

.carouselX .carousel-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: white;
  font-family: "Roboto", sans-serif;
  color: var(--blue);
  padding-right: 1rem;
}

.carouselX .carousel-text .title {
  text-align: left;
  background: white;
  padding-bottom: 1rem;
  font-weight: 500;
}

.carouselX .carousel-text .middle {
  text-align: left;
  background: white;
  padding-bottom: 1rem;
  font-weight: 300;
}

.carouselX .carousel-text .bottom {
  font-style: italic;
  font-weight: 200;
  color: var(--blue);
  text-align: left;
  background: white;
}

.carouselX .carousel-image {
  height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: white;
}

.carouselX .carousel-image .carousel-image-container {
  height: 70%;
  width: 100%;
}

.carouselX .carousel-image .carousel-image-container img {
  height: 100%;
}

.carouselX .carousel-image .legend-carousel-image {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.carouselX .carousel-image .legend-carousel-image span {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--blue);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
}

h1 {
  font-size: 8rem;
  font-family: "Noto Sans", sans-serif;
  color: var(--blue);
}

h2 {
  font-size: 5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  color: var(--blue);
}

h3 {
  font-size: 3rem;
  color: var(--blue);
}

h4 {
  font-size: 2.5rem;
  color: var(--blue);
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  color: var(--blue);
}

span {
  color: var(--blue);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.f-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fl-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w450 {
  width: 450px;
}

.w200 {
  width: 200px;
}

.m-auto {
  margin: auto;
}

.m-side {
  margin: 0 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.pv-50 {
  padding: 50px 0;
}

.p-15 {
  padding: 15px 0;
}

.br-5 {
  border-radius: 5px;
}

.bb-orange {
  border-bottom: 2px solid #f56b2b;
}

.overflow-hidden {
  overflow: hidden;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-both-sides {
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: var(--blue);
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

:root {
  --black: #1e1e1e;
  --grey: #f0f0f0;
  --white: #ffffff;
  --yellow: #ffcc33;
  --blue: #023254;
  --deepGrey: #8797a4;
  --lightGrey: #f4f6f7;
  --scarlettDark: #910411;
  --scarlettVeryDark: #7c020b;
  --scarlettLight: #9c0d21;
  --violetRed: #f23a8c;
  --orange: #f56b2b;
  --linearOrange: rgba(133, 48, 29, 0.365);
  --linearYellow: rgba(223, 214, 143, 0.899);
  --linearBlue: rgba(12, 2, 171, 1);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: #f56b2b;
  color: #f56b2b;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */