.container {
  /* width: 1096px; */
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image-container {
  /* width: 100%; */
  width: 83vw;
  height: 600px;
  margin: 40px 15px;

  /* padding: 20px; */
  background-image: url("../../images/image9.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
