/* =============== POLICE IMPORT ======================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */
/* =============== REPERES DEBUG ================== */

.red {
      background-color: red;
}

.green {
      background-color: green;
}

.blue {
      background-color: blue;
}

.yellow {
      background-color: yellow;
}

.orange {
      background-color: #f56b2b;
      color: #f56b2b;
}

/* =============== RESET =============================== */
ul,
li {
      list-style: none;
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
}

/* ==== COLORS ==== */
:root {
  --black: #1e1e1e;
  --grey: #f0f0f0;
  --white: #ffffff;
  --flashyGreen: #05f86a;
  --whiteSand: #fffff0;
  /* --deepGrey: #353c43; */

  --deepGrey: #373738;

  --shadeRed: #da3122;

  --orange: #f56b2b;
  --linearOrange: rgba(250, 110, 35, 0.8);
  --linearYellow: rgba(197, 185, 152, 0.5);
}


/* ================ GLOBAL RULES ======================= */


.page {
  /* height: 540px;  */
  height: 100%;
}

.container {
      /* width: 1096px; */
      width: 90%;
      margin: 0 auto;

}


/* h1,
h3 {
      font-family: "Montserrat", sans-serif;
} */

/* h4,
span,
button {
      font-family: "Montserrat", sans-serif;
}
h5 {
      font-family: "Roboto", sans-serif;
      margin: 5px 0;
}

p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
} */

/* ====== display ====== */

.d-flex {
      display: flex;
      align-items: center;
}

.center {
      display: flex;
      justify-content: center;
      align-items: center;
}

.base {
      display: flex;
      align-items: baseline;
}

.s-b {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.s-a {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.f-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.f-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
}

.fl-col {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.a-start {
      align-items: flex-start;
}

/* ====== width ======== */

.w450 {
      width: 450px;
}

.w200 {
      width: 200px;
}

/* ====== margin ======= */

.m-auto {
      margin: auto;
}

.m-side {
      margin: 0 10px;
}

.mr-20 {
      margin-right: 20px;
}

.ml-20 {
      margin-left: 20px;
}

.ml-5 {
      margin-left: 5px;
}

.ml-30 {
      margin-left: 30px;
}

.mb-20 {
      margin-bottom: 20px;
}
.mb-10 {
      margin-bottom: 10px;
}

.mt-10 {
      margin-top: 10px;
}

.mt-20 {
      margin-top: 20px;
}
/* ====== padding ====== */

.pv-50 {
      padding: 50px 0;
}

.p-15 {
      padding: 15px 0;
}

/* ====== border ======= */

.br-5 {
      border-radius: 5px;
}

.bb-orange {
      border-bottom: 2px solid #f56b2b;
}

.overflow-hidden {
      overflow: hidden;
}

.box-shadow {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-both-sides {
      box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.12);
}

.pointer {
      cursor: pointer;
}

.form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
}

input {
      width: 300px;
      height: 32px;
      padding: 7px;
}

.bg-silver {
      background-color: #cad1d9;
}

.select {
      width: 100px;
      font-family: "Roboto", sans-serif;
      outline: none;
}
